<!-- this is a partial template since it starts with _ -->
<!-- partial templates don't reload application,html, only the partial template itself is rendered by rails,  doesnt' include the other html header etc -->

<!-- code copied from show.html.red file-->

<%= div_for comment do %>
		<p>
			<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
			<%= h(comment.body) %>
		</p>
<% end %>
