var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
// escape_javascript makes sure that this line executed by ruby is valid js
$('#comments').prepend(new_comment); 
//added at the beginning of the div via animation
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();
// resets the form used to submit comments
