<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<!-- we want to update this part dynamically via ajax
we will create a partial template to handle this-->
<div id="Comments">
	<% @post.comments.each do |comment| %>
<!-- copy from here for partial template-->
		<!--<%= div_for comment do %>-->
		<!--<p>
				<!--<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>-->
				<!--<%= h(comment.body) %>-->
		<!--</p>-->
	    <!--<% end %>-->
<!--stop copying from here for partial template then delete as we repeat ourselves and replace with-->
	<%= render :partial => @post.comments.reverse %>
	<% end %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
<!-- remote: true means it will be initiated as an asynchronous request to the server -->
	<p><%= f.label :body, "New Comment" %> <br/>
	   <%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
