<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> <!-- used to prevent cross-site scripting-->
</head>
<body>

<%= yield %>
<!-- it is in the yield tag that index.html is process and executed -->
<!-- if we do a get request for posts, the posts are grabbed by the controller and put in the instance variable @posts (in index.html.erb) which will be placed in the application.html.erb file, the "yield" statement is executed, this is run through the filter and all the erb is executed, an index.html file is created and sent to the client ie the browser
Erb is a filter that takes a .html.erb template file and transforms in into an HTML file. in order to generate the final HTML file that will be supplied to the browser, a layout file is invoked, passing the template to it as a block. By default, this is the layout file used. it is a common layout used throughout the whole application -> we can change the look and feel of the entire web site by editing one file and its css
If we want different layouts for different parts of a site, we create a layout file with the same name as the controller and place in layout folder -->

</body>
</html>
